
#logoTop{
    display: block;
    width: 100%;
    height: 15rem;
    margin: 0;
    border-bottom: 5px solid black;
}
.playerSide{
    font-size: 2rem;
    margin-left: 2rem;
    border-bottom: 2px black solid;
}
.battleshipPlayer1{
    display: inline-block;
    position: absolute;
    margin-top: -60px;
}
#battleship1{

}
.cruiser1Player1 {
    display: inline-block;
    position: absolute;
    margin-top: -30px;
    margin-left: -15px;
}
.cruiser2Player1{
    display: inline-block;
    position: absolute;
    margin-top: -30px;
    margin-left: 85px;
}
.destroyer1Player1 {
    display: inline-block;
    position: absolute;
    margin-top: -18px;
    margin-left: -25px;
}
.destroyer2Player1{
    display: inline-block;
    position: absolute;
    margin-top: -18px;
    margin-left: 55px;
}
.destroyer3Player1{
    display: inline-block;
    position: absolute;
    margin-top: -18px;
    margin-left: 135px;
}
.submarine1Player1 {
    display: inline-block;
    position: absolute;
    margin-top: -20px;
    margin-left: -30px;
}
.submarine2Player1{
    display: inline-block;
    position: absolute;
    margin-top: -20px;
    margin-left: 30px;
}
.submarine3Player1{
    display: inline-block;
    position: absolute;
    margin-top: -20px;
    margin-left: 90px;
}
.submarine4Player1{
    display: inline-block;
    position: absolute;
    margin-top: -20px;
    margin-left: 150px;
}

/*!*------------------*!*/
/*!*.gameTopBar a:hover {*!*/
    /*!*background-color: #ddd;*!*/
    /*!*color: black;*!*/
/*!*}*!*/
/*!*------------------*!*/



/*.active {*/
    /*background-color: #4CAF50;*/
    /*color: white;*/
/*}*/



/*!*------------------*!*/
/*!*#boardDiv{*!*/
    /*!*display: block;*!*/
    /*!*position: absolute;*!*/
    /*!*margin-left: 12%;*!*/
    /*!*margin-top: 5%;*!*/
/*!*}*!*/
/*!*--------------------*!*/



/*#GameBoardContainer {*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*margin-top: 1rem;*/
    /*touch-action: none;*/
/*}*/

/*#GameBoard {*/
    /*margin-top: 25%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*!*whatever width you want*!*/
/*}*/
/*.GamePiece_Ship{*/
    /*z-index:100;*/
    /*position: absolute;*/
    /*!*background-image: url('/ShipLG.png');*!*/
    /*background-color: grey;*/
    /*text-align:center;*/
    /*touch-action: none;*/
    /*user-select: none;*/
    /*!*transition:all 0.5s ease;*!*/
/*}*/
/*.gameGridBox, .organizerGridBox{*/
    /*position:absolute;*/
    /*z-index: 1;*/
    /*border:1px solid black;*/
/*}*/
/*.gameGridBox{*/
    /*background-color: lightseagreen;*/
/*}*/
/*.organizerGridBox{*/
    /*background-color: greenyellow;*/
/*}*/


*{
    box-sizing:border-box;
}
body{
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    background-color: lightslategray;
}

#GameBoardContainer {
    display: table-cell;
    vertical-align: middle;
    touch-action: none;
}
#GameBoardContainer2 {
    display: table-cell;
    vertical-align: middle;
    touch-action: none;
}

#PlayerGameBoard {
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    /*whatever width you want*/
}
.GamePiece_Ship{
    z-index:100;
    position:absolute;
    background-color:grey;
    text-align:center;
    touch-action: none;
    user-select: none;
    /*transition:all 0.5s ease;*/
}
.gameGridBox, .organizerGridBox{
    position:absolute;
    z-index: 1;
    border:1px solid black;
}
.gameGridBox{
    background-color:lightseagreen;
}
.organizerGridBox{
    background-color: whitesmoke;
    text-align:center;
}
