*{
    box-sizing:border-box;
}
body{
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#GameBoardContainer {
    display: table-cell;
    vertical-align: middle;
}

#GameBoard {
    margin-left: auto;
    margin-right: auto;
    width: calc(var(--gameBoardSizeX)*50px);
    height: calc(var(--gameBoardSizeY)*50px);
    background-color: red;
    /*whatever width you want*/
}
.GamePiece_Ship{
    z-index:100;
    position:absolute;
    background-color:lightgreen;
    text-align:center;
    transition:all 0.5s ease;
}
.gameGridBox, .organizerGridBox{
    position:absolute;
    z-index: 1;
    height:50px;
    width:50px;
    border:1px solid black;
}
.gameGridBox{
    background-color:royalblue;
}
.organizerGridBox{
    background-color: greenyellow;
}