*{
    box-sizing:border-box;
}
#GameBoardContainer{
    background-color: red;
    height:550px;
    width:550px;
}
.GamePiece_Ship{
    z-index:100;
    position:absolute;
    background-color:lightgreen;
    text-align:center;
    transition:all 0.5s ease;
}
#GameBoard{
    background-color: red;
    text-align:center;
}
#GameBoard .col{
    border:1px solid black;
}
.row, #AlphabetCol .row .col{
    text-align:center;
    height:50px;
}